body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#box {
    background-color: #abc;
    padding: 2rem;
    width: 70%;
    height: 200px;
    margin: 0 auto;

}
#button {
    font-family: inherit;
    background-color: purple;
    display: block;
    color: white;
    border: none;
    padding: 1.7rem;
    margin: 0 auto 3rem auto;
    cursor: pointer;
}
#answerField {
    text-align: center;
}